#logo{
  text-align: top;
}

body { padding-top: 70px; }

#footer-text{
  position: absolute;
  text-align: center;
  right: 0;
  bottom: 0;
  left: 0;
}
.dark-theme {
    background-color: darkgrey;
    color: white;
}

.large-text {
    font-size: large;
}

input, button{
    color: black;
}